## 1. EDA

### columns description
* shape : External geometric appearance of a diamond
* price : Price in U.S. dollars
* carat : Unit of measurement used to describe the weight of a diamond
* cut : Facets, symmetry, and reflective qualities of a diamond
* color : Natural color or lack of color visible within a diamond, based on the GIA grade scale
* clarity : Visibility of natural microscopic inclusions and imperfections within a diamond
* report : Diamond certificate or grading report provided by an independent gemology lab
* type : Natural or lab created diamonds
---
* 모양 : 다이아몬드의 기하학적 외형
* 가격 : 미국 달러 가격
* 캐럿 : 다이아몬드의 무게를 나타내는 측정 단위
* 컷 : 다이아몬드의 패싯, 대칭, 반사성
* color : GIA grade scale 기준으로 다이아몬드 내에서 보이는 자연스러운 색상 또는 결점
* 투명도 : 다이아몬드 내부의 미세한 내포물 및 결함의 가시성
* 보고서 : 독립 보석 연구소에서 제공하는 다이아몬드 인증서 또는 등급 보고서
* 유형 : 천연 또는 실험실에서 만든 다이아몬드

In [98]:
import pandas as pd
df = pd.read_csv('diamonds_dataset.csv')
df

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119302,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119303,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119304,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119305,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119306,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119307 entries, 0 to 119306
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            119307 non-null  int64
 1   url           119307 non-null  object
 2   shape         119307 non-null  object
 3   price         119307 non-null  int64
 4   carat         119307 non-null  float64
 5   cut           119307 non-null  object
 6   color         119307 non-null  object
 7   clarity       119307 non-null  object
 8   report        119307 non-null  object
 9   type          119307 non-null  object
 10  date_fetched  119307 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.0+ MB

In [87]:
df.describe()

                 id         price          carat
count  1.193070e+05  1.193070e+05  119307.000000
mean   9.905507e+06  3.286843e+03       0.884169
std    2.373824e+05  9.114695e+03       0.671141
min    4.367730e+05  2.700000e+02       0.250000
25%    9.854352e+06  9.000000e+02       0.400000
50%    9.978096e+06  1.770000e+03       0.700000
75%    1.005433e+07  3.490000e+03       1.100000
max    1.009225e+07  1.348720e+06      15.320000

In [88]:
df.shape

(119307, 11)

In [100]:
df.drop(['url'], axis=1, inplace=True)
df.head()

,id,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM

In [101]:
df.drop(['id', 'date_fetched'], axis=1, inplace=True)
df.head()

     shape  price  carat        cut color clarity report     type
0    Round    400   0.30  Very Good     J     SI2    GIA  natural
1  Emerald    400   0.31      Ideal     I     SI1    GIA  natural
2  Emerald    400   0.30      Ideal     I     VS2    GIA  natural
3    Round    400   0.30      Ideal     I     SI2    GIA  natural
4  Emerald    400   0.30      Ideal     I     SI1    GIA  natural

In [102]:
df.columns

Index(['shape', 'price', 'carat', 'cut', 'color', 'clarity', 'report', 'type'], dtype='object')

In [103]:
print(df['color'].unique().tolist())
print(df['type'].unique().tolist())
print(df['shape'].unique().tolist())
print(df['cut'].unique().tolist())
print(df['clarity'].unique().tolist())
print(df['report'].unique().tolist())

['J', 'I', 'E', 'F', 'G', 'H', 'D']
['natural', 'lab']
['Round', 'Emerald', 'Marquise', 'Princess', 'Pear', 'Heart', 'Oval', 'Cushion', 'Asscher', 'Radiant']
['Very Good', 'Ideal', 'Super Ideal', 'Good', 'Fair']
['SI2', 'SI1', 'VS2', 'VVS1', 'VS1', 'VVS2', 'IF', 'FL']
['GIA', 'HRD', 'IGI', 'GCAL']

* shape : Asscher:0, Cushion:1, Emerald:2, Heart:3, Marquise:4, Oval:5, Pear:6, Princess:7,Radiant:8, Round:9
* type : lab:0, natural:1
* cut : Fair:0, Good:1, Ideal:2, Super Ideal:3, Very Good:4
* clarity : FL:0, IF:1, SI1:2, SI2:3, VS1:4, VS2:5, VVS1:6,  VVS2:7
* report : GCAL:0, GIA:1, HRD:2, IGI:3
* color : D:0, E:1, F:2, G:3, H:4, I:5, J:6

In [104]:
# 중복 데이터 제거
df.drop_duplicates(inplace=True)

In [52]:
df.shape

(86627, 8)

In [53]:
df.describe()

              price         carat
count  8.662700e+04  86627.000000
mean   3.899580e+03      0.966458
std    1.058300e+04      0.710722
min    2.700000e+02      0.250000
25%    1.050000e+03      0.500000
50%    2.110000e+03      0.750000
75%    4.180000e+03      1.200000
max    1.348720e+06     15.320000

In [17]:
# outlier 확인
df.sort_values(by='price', ascending=False).head(10)

          shape    price  carat          cut color clarity report     type
70312   Emerald  1348720  11.41  Super Ideal     D      FL    GIA  natural
70311   Cushion   792400  10.15  Super Ideal     D      FL    GIA  natural
70310     Round   728890  10.10  Super Ideal     D    VVS2    GIA  natural
70309     Round   648290  10.12  Super Ideal     F    VVS1    GIA  natural
70308   Emerald   612570  10.09  Super Ideal     E    VVS2    GIA  natural
70307     Round   563000  12.01  Super Ideal     G     VS1    GIA  natural
70306  Princess   439380  10.21  Super Ideal     D      FL    GIA  natural
70305     Round   437940   6.29  Super Ideal     D      IF    GIA  natural
70304     Round   428920  12.81  Super Ideal     E     VS2    GIA  natural
70303   Radiant   410290  10.03         Good     D      FL    GIA  natural

In [18]:
# outlier 확인
df.sort_values(by='carat', ascending=False).head(10)

           shape    price  carat          cut color clarity report     type
119303   Cushion   107330  15.32    Very Good     G     SI2    IGI      lab
70294      Round   280860  12.88  Super Ideal     J     VS2    GIA  natural
70304      Round   428920  12.81  Super Ideal     E     VS2    GIA  natural
70307      Round   563000  12.01  Super Ideal     G     VS1    GIA  natural
70312    Emerald  1348720  11.41  Super Ideal     D      FL    GIA  natural
119298     Heart    84970  11.05        Ideal     I     VS1    IGI      lab
119305      Oval   126030  10.33         Fair     D     VS2    IGI      lab
119300   Cushion    87740  10.26    Very Good     E     SI1    IGI      lab
119306   Cushion   141710  10.25         Good     E     VS1    IGI      lab
70306   Princess   439380  10.21  Super Ideal     D      FL    GIA  natural

In [105]:
# index reset하기
df = df.reset_index(drop=True)

In [58]:
df

         shape   price  carat          cut color clarity report     type
0        Round     400   0.30    Very Good     J     SI2    GIA  natural
1      Emerald     400   0.31        Ideal     I     SI1    GIA  natural
2      Emerald     400   0.30        Ideal     I     VS2    GIA  natural
3        Round     400   0.30        Ideal     I     SI2    GIA  natural
4      Emerald     400   0.30        Ideal     I     SI1    GIA  natural
...        ...     ...    ...          ...   ...     ...    ...      ...
86622    Round   99040   5.71  Super Ideal     D    VVS2   GCAL      lab
86623  Cushion  107330  15.32    Very Good     G     SI2    IGI      lab
86624  Cushion  110110  10.05        Ideal     D     SI2    IGI      lab
86625     Oval  126030  10.33         Fair     D     VS2    IGI      lab
86626  Cushion  141710  10.25         Good     E     VS1    IGI      lab

[86627 rows x 8 columns]

#### 정제한 데이터 추출 -> csv -> DB에 담기 위함!

In [82]:
df.to_csv('diamond_eda.csv')

### categorical columns -> Encoding
'shape', 'cut', 'color', 'clarity', 'report', 'type'

In [106]:
from sklearn.preprocessing import LabelEncoder
for c in df.columns:
    if df[c].dtype=='object':
        lbl = LabelEncoder()
        lbl.fit(list(df[c].values))
        df[c] = lbl.transform(df[c].values)

In [96]:
df

       shape   price  carat  cut  color  clarity  report  type
0          9     400   0.30    4      6        3       1     1
1          2     400   0.31    2      5        2       1     1
2          2     400   0.30    2      5        5       1     1
3          9     400   0.30    2      5        3       1     1
4          2     400   0.30    2      5        2       1     1
...      ...     ...    ...  ...    ...      ...     ...   ...
86622      9   99040   5.71    3      0        7       0     0
86623      1  107330  15.32    4      3        3       3     0
86624      1  110110  10.05    2      0        3       3     0
86625      5  126030  10.33    0      0        5       3     0
86626      1  141710  10.25    1      1        4       3     0

[86627 rows x 8 columns]

In [97]:
print(df['type'].unique().tolist())
print(df['shape'].unique().tolist())
print(df['cut'].unique().tolist())
print(df['clarity'].unique().tolist())
print(df['report'].unique().tolist())
print(df['color'].unique().tolist())

[1, 0]
[9, 2, 4, 7, 6, 3, 5, 1, 0, 8]
[4, 2, 3, 1, 0]
[3, 2, 5, 6, 4, 7, 1, 0]
[1, 2, 3, 0]
[6, 5, 1, 2, 3, 4, 0]

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86627 entries, 0 to 119306
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   shape    86627 non-null  int64
 1   price    86627 non-null  int64
 2   carat    86627 non-null  float64
 3   cut      86627 non-null  int64
 4   color    86627 non-null  int64
 5   clarity  86627 non-null  int64
 6   report   86627 non-null  int64
 7   type     86627 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 5.9 MB

## 2. modeling

In [107]:
from sklearn.model_selection import train_test_split

X = df.drop(['price'], axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [108]:
X_train.shape, X_test.shape

((69301, 7), (17326, 7))

In [109]:
cols = X_train.columns
cols

Index(['shape', 'carat', 'cut', 'color', 'clarity', 'report', 'type'], dtype='object')

In [110]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = pd.DataFrame(sc.fit_transform(X_train), columns=cols)
X_test = pd.DataFrame(sc.transform(X_test), columns=cols)

In [111]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train , y_train)

RandomForestRegressor()

In [112]:
print('정확도', model.score(X_test, y_test))
y_pred = model.predict(X_test)

정확도 0.8693756097755589

## 3. model Evaluation

In [113]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error

In [114]:
y_train.shape, y_test.shape

((69301,), (17326,))

In [116]:
MAE =  mean_absolute_error(y_test, y_pred)
MSE = mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)
MSLE = mean_squared_log_error(y_test, y_pred)
RMSLE = np.sqrt(mean_squared_log_error(y_test, y_pred))
R2 = r2_score(y_test, y_pred)

In [117]:
print('MAE : %0.2f ' % MAE)
print('MSE : %0.2f ' % MSE)
print('RMSE: %0.2f ' % RMSE)
print('MSLE: %0.2f ' % MSLE)
print('RMSLE: %0.2f ' % RMSLE)
print('R2  : %0.2f ' % R2)

MAE : 416.41
MSE : 22478530.48
RMSE: 4741.15
MSLE: 0.01
RMSLE: 0.11
R2  : 0.87

In [77]:
df

       shape   price  carat  cut  color  clarity  report  type
0          9     400   0.30    4      6        3       1     1
1          2     400   0.31    2      5        2       1     1
2          2     400   0.30    2      5        5       1     1
3          9     400   0.30    2      5        3       1     1
4          2     400   0.30    2      5        2       1     1
...      ...     ...    ...  ...    ...      ...     ...   ...
86622      9   99040   5.71    3      0        7       0     0
86623      1  107330  15.32    4      3        3       3     0
86624      1  110110  10.05    2      0        3       3     0
86625      5  126030  10.33    0      0        5       3     0
86626      1  141710  10.25    1      1        4       3     0

[86627 rows x 8 columns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86627 entries, 0 to 86626
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   shape    86627 non-null  int64
 1   price    86627 non-null  int64
 2   carat    86627 non-null  float64
 3   cut      86627 non-null  int64
 4   color    86627 non-null  int64
 5   clarity  86627 non-null  int64
 6   report   86627 non-null  int64
 7   type     86627 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 5.3 MB

In [119]:

## 새로운 데이터 한 샘플을 선택해 학습한 모델을 통해 예측해 봅니다
X_test_sample = [[9, 0.30, 4, 5, 2, 1, 1]]
y_pred_sample = model.predict(X_test_sample)

print(f'다이아몬드의 예상 가격은 ${y_pred_sample} 입니다.')
print(f'다이아몬드의 예상 가격은 ${int(y_pred_sample)} 입니다.')

다이아몬드의 예상 가격은 $[4658.76] 입니다.
다이아몬드의 예상 가격은 $4658 입니다.

/Users/dona/opt/anaconda3/envs/project/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

## 4. pickle 암호화

In [81]:
import pickle

with open('model.pkl','wb') as pickle_file:
    pickle.dump(model, pickle_file)